<div class="row-fluid" id="heading">
  
  <div class="span6">
<h2><%= link_to "AthleteDB", :index %></h2>
  </div>

  <div class="span6 text-right">
    <div class="btn-group">
    <% if signed_in?  %>
	    <%= link_to t('buttons.logout'), destroy_user_session_path, class: 'btn', :method => :delete %>
    <% else  %>
		<%= link_to t('buttons.login'), new_user_session_path, class: 'btn' %>
		<%= link_to t('buttons.signup'), new_user_registration_path, class: 'btn' %>
	<% end %>
	</div>
  </div>

</div> <!-- END:HEADING -->