<div class="row-fluid" id="heading">
  
  <div class="span6">
    <h2>AthleteDB</h2>
  </div>

  <div class="span6 text-right">
    <div class="btn-group">
      <button class="btn"><%= t('buttons.login') %></button>
      <button class="btn"><%= t('buttons.signup') %></button>
    </div>
  </div>

</div> <!-- END:HEADING -->